@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');




*{
    padding: 0%;
    margin: 0%;
}
.icon{
    display: none;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.icon img
{
    width: 10px;
    height: 1px;
}
.navbar
{
    width: 1490px;
    height: 50px;
    display: flex;
    background-color: whitesmoke;
}
.navbar h3
{
    color: gray;
    margin-top: 10px;
    font-size: 1.5vw;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.links
{
    margin-left: 300px;
    margin-top: 10px;
}
.links a
{
    text-decoration: none;
    font-size: 1.3vw;
    margin: 5px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown button
{
    font-size: 1.3vw;
    margin: 5px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content 
{
    display: block;
}
.ls
{
    margin-left: 250px;
    margin-top: 10px;
}
.ls a
{
    text-decoration: none;
    font-size: 1.3vw;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar button
{
    border-radius: 50px;
    border:  solid whitesmoke;
    justify-content: center;
    cursor: pointer;
}
.navbar button img
{
    width: 45px;
    height: 45px;
}
@media screen and (max-width: 1000px )
{
    .navbar div{  font-size: 1vw; font-weight: bolder;}
    .navbar .links{margin-left: 100px;margin-top: 10px;} 
    .navbar h3{font-size: 2vw; margin-left: 30px; margin-top: 15px;}  
    .ls{ margin-left: 150px; margin-top: 15px;}
    .icon
    {
        display: flex;   
    }
    #navi img{ width: 30px; height: 30px;}

    .iconres
    {
        .navbar .links{display: block; align-items: left; float: none; }
    }
}
.avatr
{
    display: block;
}
.container
{
    display: none;
    background-color: whitesmoke;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 250px;
    margin-right: 500px;
    right: -470px;
    align-items: center;
}
.container a
{
    display: block;
    text-decoration: none;
    font-size: 1.2vw;
    color: rgb(7, 7, 7);
    padding: 12px 16px;
    font-family: 'Montserrat', sans-serif;
}
.open
{
    display: block;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}