@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@300&display=swap');



*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    display: none;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.icon img
{
    width: 10px;
    height: 1px;
}
.navbar
{
    width: 1480px;
    height: 50px;
    display: flex;
    background-color: whitesmoke;
}
.navbar h3
{
    color: gray;
    margin-top: 10px;
    font-size: 1.7vw;
    margin-left: 10px;
    font-family: 'Gruppo', sans-serif;
}

.links
{
    margin-left: 300px;
    margin-top: 10px;
}
.links a
{
    text-decoration: none;
    font-size: 1.3vw;
    margin: 5px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown button
{
    font-size: 1.3vw;
    margin: 5px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content 
{
    display: block;
}
.dropdown-content :hover
{
    background-color: #8d8c8c;
}
.ls
{
    margin-left: 240px;
    margin-top: 10px;
}
.ls a
{
    text-decoration: none;
    font-size: 1.3vw;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar button
{
    border-radius: 50px;
    border:  solid whitesmoke;
    justify-content: center;
    cursor: pointer;
}
.navbar button img
{
    width: 45px;
    height: 43px;
}
.avatr
{
    display: block;
}
.container
{
    display: none;
    background-color: whitesmoke;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 280px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 250px;
    margin-right: 500px;
    right: -470px;
    align-items: center;
}
.container a
{
    display: block;
    text-decoration: none;
    font-size: 1.2vw;
    color: rgb(7, 7, 7);
    padding: 12px 16px;
    font-family: 'Montserrat', sans-serif;
}
.open
{
    display: block;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.imgg
{
    width:800px; height: 600px; margin-left: 100px;
}
.mySlides {
    display: none;
}
.def{display: block;}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 1vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}
.mid{ margin-top: 100px;}
.box {
    
    border: 2px solid #f10a81;
    padding: 20px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    background-color: rgb(249, 13, 155);
    height: 230px;
    width: 1200px;
    margin-left: 120px;
}

.box-title {
    position: absolute;
    top: -30px;
    left: 10px;
    background-color: #fc1bc0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px 8px 8px 8px;
    height: 70px;
    width: 600px;
    font-size: 2.2rem;
    box-shadow: 0px 0px 10px grey;
    font-family: 'Montserrat', sans-serif;
}
.box-title p
{
    margin-left: 35px;
}
.box-content {
   position: relative;
   top: 50px;
   left: 5px;
   color: #f0f8ff;
   font-size: 1.3rem;
   font-family: 'Montserrat', sans-serif;
}
#know{ display: flex;}

#know img{ 
    width: 550px;
    height: 550px;
    z-index: 1;
}
#know h1
{
    font-family: 'Montserrat' ,  sans-serif;
    margin-top: 150px;
    font-size: 2.8vw;
    color: #717171;
}
#know div
{display: block; width: 700px;}
#know p{margin-top: 30px; font-size: 1.6vw; color: grey;}
#feedback form{
 border: 5px solid #fc1bc0 ;
 border-radius: 10px;
 box-shadow: 0 3px 3px;
 height: 350px;
 width: 900px;
 margin-left: 290px;
}

#feedback form h1
{
    margin-top: 20px;
    color: #717171;
    font-size: 1.8vw;
    justify-content: center;
}
#feedback form input
{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    border: 0px;
}
#feedback form textarea{ width: 400px; height: 100px; margin-top: 10px; margin-left: 30px; font-size: 1.1vw; border: 0;}
#feedback form button{width: 100px; height: 40px; color: whitesmoke; border: 0; background-color: grey;}
#feedback form label{ font-size: 1.2vw}

footer{
    background-color: #717171;
    height: 70px;
    width: 1480px;
    margin-top: 50px;
    color: whitesmoke;
}
footer .footer-content
{
    display: flex;
}
footer p { margin-left: 270px;}
footer h2 , p{
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Gruppo', sans-serif;
}
footer img 
{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.a1{margin-left: 270px;}
@media screen and (max-width: 1000px )
{
    .navbar{width: 988px;}
    .navbar div{  font-size: 1vw; font-weight: bolder;}
    .navbar .links{margin-left: 100px;margin-top: 10px;} 
    .navbar h3{font-size: 2.3vw; margin-left: 30px; margin-top: 15px;}  
    .dropdown button{ font-weight: bolder;}
    .ls{ margin-left: 150px; margin-top: 15px;}
    .container{ padding: 15px; width: 200px; }
    .container a{padding: 12px 10px;}
    .avatr button img{width: 40px; height: 41px;}
    .icon
    {
        display: flex;   
    }
    #navi img{ width: 30px; height: 30px;}
    .slideshow-container{ width: 500px;}
    .mySlides img{ width: 400px; height: 300px; margin-left: 50px;}
    .mid{ margin-top: 10px;}
    .box{height: 100px;
        width: 350px;
        margin-left: 60px;}
    .box-title{ width: 150px; height: 30px; top: -15px; font-size: 0.8rem; left: 5px;}
    .box-title p{ margin-left: 8px; margin-top: 6px;}
    .box-content{ top: 20px; font-size: 0.9rem;}
    #know img{ width: 350px; height: 350px;}
    #know h1 { margin-top: 85px; }
    #feedback form{ width: 500px; height: 370px;}
    #feedback form input{ width: 160px;}
    .last{ margin-left: 280px;}
    footer{ width: 988px; height: 50px;}
    footer h2{ font-size: 1.5vw; margin-left: 8px;}
    footer p{ margin-left: 150px; font-size: 1.2vw;}
    footer img{ width: 30px; height: 30px;}
    .a1{margin-left: 130px;}
}

@media screen and (max-width: 400px )
{
    .navbar{ width: 395px; height: 35px;}
    .navbar div{  font-size: 0.8vw; font-weight: bolder;}
    .navbar .links{margin-left: 25px;margin-top: 10px;} 
    .navbar h3{font-size: 1.8vw; margin-left: 10px; margin-top: 15px;}  
    .dropdown button{ font-weight: bolder;}
    .dropdown-content{ width: 150px;}
    .ls{ margin-left: 32px; margin-top: 15px;}
    .container{ padding: 5px; width: 100px; }
    .container a{padding: 6px 8px;}
    .avatr button img{width: 30px; height: 31px; margin-left: 5px; margin-top: 2px;}
    .icon
    {
        display: flex;   
    }
    #navi img{ width: 15px; height: 15px;}
    .slideshow-container{ width: 250px; margin-left: 70px;}
    .mySlides img{ width: 200px; height: 150px; margin-left: 25px;}
    .prev , .next{
        width: 15px; font-size: 1.5vw; padding: 8px;
    }
    .prev:hover, .next:hover {
        background-color: whitesmoke;
    }
    .dot{ width: 8px; height: 8px;}
    .mid{ margin-top: 80px;}
    .box{height: 100px;
        width: 300px;
        margin-left: 30px;}
        .box-title{ width: 120px; height: 30px; top: -15px; font-size: 0.6rem; left: 5px;}
        .box-title p{ margin-left: 8px; margin-top: 6px;}
        .box-content{ top: 20px; font-size: 0.7rem;}
    #know img{ width: 100px; height: 100px;}
    #know h1 { margin-top: 30px; }
    #know div{ width: 250px;} 
    #know p{ margin-top: 10px; font-size: 1.2w;}
    #feedback form{ width: 200px; height: 180px; margin-left: 90px; margin-top: 20px;}
    #feedback form input{ width: 60px; height: 10px; font-size: 1.5vw;} 
    #feedback form textarea{ width: 100px; height: 20px;}
    #feedback form button { width: 30px; height: 10px; font-size: 1.1vw; margin-top: -50px;}
    #feedback form lable{ font-size: 1.1vw;}
    footer{ width: 395px; height: 20px;}
    footer h2{ font-size: 1.5vw; margin-left: 10px; margin-top: 5px;}
    footer p{ margin-left: 50px; font-size: 1.2vw; margin-top: 5px;}
    footer img{ width: 10px; height: 10px; margin-top: 5px;}
    .a1{margin-left: 30px;}
}